{% extends 'register/base.html' %}

{% block title %}
Send a friend Request
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="mt-2">Send a friend request</h1>
<hr class="mt-0 mb-4">

<form method="post" id="my-form" onsubmit="return submitForm(event)">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Send Friend Request</button>
</form>

{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.1.0/jsencrypt.min.js"></script>

{% endblock %}