{% extends "register/base.html" %}

{% block title %}Login User{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<h1>You should first logout from your account</h1>
{% else %}
<h1 class="mt-2">Login</h1>
<hr class="mt-0 mb-4">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <p>{{message}}</p>
        </div>
    {% endfor %}
{% endif %}
<form method="POST" onsubmit="return submitForm(event)" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Don't have an account ? Create one <a href="/register">here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
{% endif %}


{% load static %}

<script src="{% static 'login.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

{% endblock %}